@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.LocationContainer::-webkit-scrollbar-track,
.pokedexContainer::-webkit-scrollbar-track,
.typeIcons::-webkit-scrollbar-track {
  padding: 2px 0;
}
.LocationContainer::-webkit-scrollbar,
.pokedexContainer::-webkit-scrollbar,
.typeIcons::-webkit-scrollbar {
  width: 10px;
}

.LocationContainer::-webkit-scrollbar-thumb,
.pokedexContainer::-webkit-scrollbar-thumb,
.typeIcons::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

img {
  image-rendering: pixelated;
  height: 30vh;
  width: 30vh;
}

.enemyPokemonCard {
  text-align: center;
  overflow: auto;
  position: absolute;
  height: 86vh;
  width: 50vh;
  right: 5%;
  top: 5%;
  backdrop-filter: blur(5px);
  border: 3px solid hsla(0, 0%, 20%, 0.612);
  border-radius: 10px;
  box-shadow: 7px 7px 5px hsla(0, 0%, 20%, 0.589);
  p {
    font-weight: bold;
  }
}

.pokemonCard {
  text-align: center;
  overflow: auto;
  position: absolute;
  height: 86vh;
  width: 50vh;
  left: 5%;
  top: 5%;
  backdrop-filter: blur(5px);
  border: 3px solid hsla(0, 0%, 20%, 0.612);
  border-radius: 10px;
  box-shadow: 7px 7px 5px hsla(0, 0%, 20%, 0.589);
  p {
    font-weight: bold;
  }
}

.pokemonCard::-webkit-scrollbar-track {
  padding: 2px 0;
}

.pokemonCard::-webkit-scrollbar {
  width: 10px;
}

.pokemonCard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.enemyPokemonCard::-webkit-scrollbar-track {
  padding: 2px 0;
}

.enemyPokemonCard::-webkit-scrollbar {
  width: 10px;
}

.enemyPokemonCard::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#PokemonCardName {
  margin: 0;
  margin-left: 2%;
  font-size: xx-large;
  font-family: Rocher;
}

.runButton {
  cursor: pointer;
  position: absolute;
  font-family: Rocher;
  background-color: transparent;
  top: 70%;
  left: 45%;
  font-size: xx-large;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

.runButton:hover {
  background-color: red;
}

.attackButton {
  cursor: pointer;
  position: absolute;
  font-family: Rocher;
  background-color: transparent;
  top: 80%;
  left: 47%;
  font-size: xx-large;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

.attackButton:hover {
  background-color: hsl(120, 100%, 15%);
}

#enemyPokemonModel {
  position: absolute;
  top: 30%;
  right: 30%;
}

#userPokemonModel {
  position: absolute;
  top: 55%;
  left: 27%;
}

.allyHp {
  position: absolute;
  top: 40%;
  left: 32%;
}

.enemyHp {
  position: absolute;
  top: 12%;
  left: 61%;
}

.allyHpBar {
  position: absolute;
  top: 50%;
  left: 27%;
}

.enemyHpBar {
  position: absolute;
  top: 22%;
  left: 56%;
}

.win {
  position: absolute;
  top: 5%;
  left: 37%;
  font-family: Rocher;
}

.lost {
  position: absolute;
  top: 5%;
  left: 22%;
  font-family: Rocher;
}

.return {
  cursor: pointer;
  position: absolute;
  font-family: Rocher;
  background-color: transparent;
  top: 80%;
  left: 45%;
  font-size: xx-large;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

.return:hover {
  background-color: rgb(27, 0, 161);
}

#enemyPokemonCardName {
  margin: 0;
  margin-left: 2%;
  font-size: xx-large;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.optionButton {
  position: absolute;
  font-family: Rocher;
  background-color: transparent;
  top: 70%;
  left: 45%;
  font-size: xx-large;
  border-width: 3px;
  border-color: black;
}

.optionButton:hover {
  background-color: red;
}

#enemyPokemonModel {
  position: absolute;
  top: 30%;
  right: 30%;
}

#userPokemonModel {
  position: absolute;
  top: 55%;
  left: 27%;
}

#pokedexButton {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 5%;
  height: 10%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#pokedexButton:hover {
  cursor: pointer;
  box-shadow: 5px 10px 18px red;
}

#pokedexButton:hover {
  border-color: red;
}

.pokedexContainer {
  position: absolute;
  max-height: 96.5%;
  width: 75%;
  left: 20%;
  top: 1%;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  overflow-y: scroll;
}

.LocationContainer {
  position: absolute;
  font-family: Rocher;
  font-size: 1.5em;
  text-align: center;
  border: 3px solid hsla(0, 0%, 20%, 0.612);
  border-radius: 10px;
  box-shadow: 7px 7px 5px hsla(0, 0%, 20%, 0.589);
  height: 80%;
  width: 37%;
  overflow: auto;
  backdrop-filter: blur(4px);
  top: 10%;
  left: 32%;
  h2 {
    cursor: pointer;
  }
  h2:hover {
    text-decoration: underline rgb(255, 179, 0);
  }
}

.pokedexButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedexButton {
  font-family: Rocher;
  background-color: transparent;
  font-size: x-large;
}
.pokedexButton:hover {
  background-color: red;
}

progress[value] {
  --w: 200px; /* the width*/
  --color:  /* the progress color */ linear-gradient(90deg, #ff6161, #1ecd1e) 0 / var(--w);
  --background: lightgrey; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

#progressBarLabel {
  font-family: Rocher;
}

#root {
  min-width: 100vh;
  min-height: 100vh;
  --main-bg-color: #fe0065;
  --secondary-bg-color: #f2f2f2;
  --main-screen-bg-color: #98cb98;
  --secondary-screen-bg-color: #9e9d9d;
  --main-buttons-color: #585858;
  --square-buttons-color: #7ca9f7;
}

.red {
  background-color: #ff0000;
}
.yellow {
  background-color: #fecb65;
}
.green {
  background-color: #32cb65;
}
.blue {
  background-color: #3298cb;
}

.light-blue {
  background-color: #85bdfe;
}
.light-red {
  background-color: #fe98cb;
}
.light-yellow {
  background-color: #fefecb;
}
.light-green {
  background-color: #98fe00;
}

* {
  margin: 0;
  padding: 0;
}

/* poke-dex */
#pokedex {
  position: absolute;
  height: 70%;
  width: 60%;
  display: flex;
  top: 10%;
  left: 19%;
  border-radius: 10px;
}

/* LEFT PANEL */
#left-panel {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-rows: 23% 50% 27%;
  border: solid black 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 7px;
}
/* Top Lights */

.lights-container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.left-svg {
  position: absolute;
  z-index: +5;
}

.big-light-boarder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 60px;
  width: 60px;
  border: solid black;
  border-radius: 50%;
  background-color: white;
}

.big-light {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid black;
}

.big-dot {
  height: 15px;
  width: 15px;
  position: relative;
  top: 7px;
  left: 10px;
  border-radius: 50%;
}

.small-lights-container {
  margin-left: 15px;
  margin-top: 10px;
  width: 70px;
  height: 100%;
  display: flex;
  align-self: start;
  justify-content: space-around;
}

.small-light {
  border: solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.dot {
  height: 5px;
  width: 5px;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}

/* Center Screen */

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  position: absolute;
  width: 35%;
  height: 60%;
  top: 15%;
  border: solid black;
  border-radius: 0 0 0 17%;
  display: grid;
  grid-template-rows: 10% 72% 18%;
  background-color: white;
}

#main-screen {
  height: 100%;
  width: 80%;
  justify-self: center;
  background-color: var(--main-screen-bg-color);
  border: solid black 2px;
  border-radius: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bottom-screen-lights {
  display: flex;
  margin-top: 5px;
  width: 75%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}

.bottom-screen-lights .small-light {
  border: solid black 2px;
  width: 12px;
  height: 12px;
}

.line {
  width: 18px;
  height: 2px;
  background-color: black;
  margin-top: 2px;
}

.green-screen {
  width: 40%;
  height: 10%;
  left: 5%;
  bottom: 10%;
  border-radius: 5px;
  border: solid black 2px;
  background-color: #3ab47d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#name-screen {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: xx-large;
  overflow-wrap: break-word;
}

/* RIGHT PANEL */

#right-panel {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-rows: 24% repeat(4, 19%);
  border-bottom-right-radius: 10px;
  border: solid black 3px;
  border-radius: 10px;
}
#right-panel::before {
  content: '';
  position: absolute;
  left: -3px;
  bottom: 0;
  width: 100%;
  height: 265px;
  border-bottom-right-radius: 7px;
}
/* top screen */
.top-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-panel-screen {
  font-family: 'Press Start 2P', cursive;
  width: 80%;
  height: 64px;
  background-color: var(--secondary-screen-bg-color);
  border: solid black 2px;
  border-radius: 4px;
  font-size: medium;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 8px;
  line-height: 2;
}

#about-screen {
  position: absolute;
  top: 10%;
  left: 10%;
}

.bottom-screens-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-screens-container .right-panel-screen {
  position: absolute;
  width: 30%;
  height: 15%;
  font-size: xx-large;
  bottom: 7%;
}

#type-screen {
  left: 10%;
}

#id-screen {
  right: 10%;
}

#stat-screen {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 90%;
}

#pokedexBackButton {
  position: absolute;
  top: 2%;
  right: 2.5%;
  border: none;
}

#pokedexFilter {
  position: absolute;
  left: 4%;
  top: 25%;
}

.typeIcons {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 60%;
  width: 15%;
  left: 2.5%;
  top: 30%;
  overflow-y: scroll;
}

.typeIcon {
  width: 30%;
  height: 14%;
  margin: 8%;
}

#backToAllButton {
  position: absolute;
  left: 14.8%;
  top: 25%;
}

.pageNext {
  position: absolute;
  right: 20%;
  top: 50%;
  font-size: 3rem;
  font-family: 'Rocher';
  background: none;
  border: none;
  cursor: pointer;
}

.pageBack {
  position: absolute;
  left: 20%;
  top: 50%;
  font-size: 3em;
  font-family: 'Rocher';
  background: none;
  border: none;
  cursor: pointer;
}

.previous {
  margin: 5px;
  cursor: pointer;
  position: absolute;
  font-family: Rocher;
  background-color: transparent;
  left: 15%;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

.next {
  margin: 5px;
  cursor: pointer;
  position: absolute;
  font-family: Rocher;
  background-color: transparent;
  right: 15%;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

.tombstone {
  position: absolute;
  top: 50%;
  height: 220px;
  animation: appearTombstone 2s;
}

@keyframes appearTombstone {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.caughtPokemon {
  position: absolute;
  top: 30%;
  right: 30%;
  border-radius: 50%;
  animation-name: toPokeBall;
  animation-duration: 2s;
}

@keyframes toPokeBall {
  0% {
    transform: translate(0, 0) rotateZ(0deg) scale(1, 1);
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
  }
  50% {
    transform: translate(0, 0) rotateZ(0deg) scale(1.5, 1.5);
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
  }
  100% {
    transform: translate(-450%, 150%) rotateZ(360deg) scale(0.01, 0.01);
    box-shadow: 0 0 400px 200px rgba(255, 255, 0, 0.8); /* Add glow at the end */
  }
}

.pokeball {
  position: absolute;
  right: 85%;
  top: 70%;
  width: 250px;
  height: 170px;
}

.allyDead {
  animation: ghost 3s;
}

@keyframes ghost {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px); 
    opacity: 0;
  }
}
