@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
}

.pageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  background-image: url('/images/forest.jpg');
  background-size: cover;
}

.LocationContainer::-webkit-scrollbar-track,
.pokedexContainer::-webkit-scrollbar-track,
.typeIcons::-webkit-scrollbar-track {
  padding: 2px 0;
}
.LocationContainer::-webkit-scrollbar,
.pokedexContainer::-webkit-scrollbar,
.typeIcons::-webkit-scrollbar {
  width: 10px;
}

.LocationContainer::-webkit-scrollbar-thumb,
.pokedexContainer::-webkit-scrollbar-thumb,
.typeIcons::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

img {
  image-rendering: pixelated;
  height: 30vh;
  width: 30vh;
}

progress[value] {
  --w: 200px;
  --color: linear-gradient(90deg, #ff6161, #1ecd1e) 0 / var(--w);
  --background: lightgrey;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

#root {
  min-width: 100vh;
  min-height: 100vh;
  --main-bg-color: #fe0065;
  --secondary-bg-color: #f2f2f2;
  --main-screen-bg-color: #98cb98;
  --secondary-screen-bg-color: #9e9d9d;
  --main-buttons-color: #585858;
  --square-buttons-color: #7ca9f7;
}

* {
  margin: 0;
  padding: 0;
}
